.form {
    padding: 47px;
    border: solid 1px #f5f5f5;
    border-radius: 24px;
    text-align: center;

    width: 440px;

    margin: 20px auto;
    background-color: #ffb251;
}

.form input {
    font-size: 1em;
    border-radius: 24px;
    border: none;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    width: inherit;
}

.form input:focus, .form select {
    outline: none;
}

.form {
    text-align: left;
}

.form h1, .form h6 {
    text-align: center;
}
.form h1 {
    font-weight: 700;
}
.form h6 {
    font-weight: 300;
    margin-bottom: 30px;
}

.form p {
    font-size: 18px;
    text-align: right;
}

.form .btn-submit {
    text-align: center;
}


.label-container {
    display: table;
}

.label {
    display: table-cell;
    vertical-align: middle;
}

.form .row {
    margin-top: 10px;
}

.form select {
    width: inherit;
    height: 32px;
    font-size: 1em;
    border-radius: 24px;
}

option:last-child{
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}