/* modify Bootstrap class*/
.list-group {
    margin: 20px;
    margin-bottom: 10%;
}

.motorcycle-result tr:first-child {
    background-color: rgb(0, 255, 0);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

thead {
    background-color: #cacaca;
}