/* default */
.btn {
    font-size: 14px;
    background-color: white;
    width: 150px;
    height: 50px;
    position: relative;
    text-align: center;
    border-radius: 24px;
    margin: 12px auto;
    color: black
}

.default {
    color: black;
}

.primary {
    font-weight: 700;   
}

.btn:hover{
    background-color: #cacaca;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}